@import "../../styles/pallete.css";

.header {
	color: var(--text);
	margin-bottom: -0.9rem;
	font-size: 2rem;
}

.duration {
	color: var(--text-muted-2);
	font-style: italic;
	margin-top: 0.4rem;
	font-size: 0.8rem;
}

.body {
	padding-left: 1rem;
	padding-bottom: 2rem;
	padding-top: 0.01rem;
	margin-bottom: 1rem;
	margin-top: -1.2rem;
}

.body::before {
	content: "";
	position: absolute;
	margin-left: -1rem;
	height: 0.2rem;
	width: 0%;
	background: linear-gradient(90deg,
			var(--primary-2) 0%,
			var(--primary-2) 20%,
			transparent 20%,
			transparent 100%);
	transition: width 0.4s ease;
}

.body:hover::before {
	width: 60%;
	transition: width 0.4s ease;
}

.body:hover {
	background-color: var(--background-2);
	transition: background-color 0.2s ease;
}

a {
	color: var(--primary-1);
}
