@import "../../styles/pallete.css";

.titleCardBody {
	text-align: left;

	margin-left: -1.2rem;
	padding-left: 1rem;
	margin-bottom: 1.8rem;
	border-left-width: 0.2rem;
	border-left-style: solid;
	border-left-color: var(--primary-2);
}

.header1 {
	font-size: 1.5rem;
	margin-bottom: -1.3rem;
	color: var(--text);
}

.subtitle1 {
	color: var(--text-muted-2);
}
