@import "../../styles/pallete.css";

.body {
	display: block;
	position: absolute;
	z-index: 99;
	width: 100%;
	justify-items: center;
	padding-top: 0.3rem;
	padding-bottom: 0.5rem;
}

table {
	border-style: none;
}

th {
	padding-left: 4rem;
	padding-right: 4rem;
	border-top-style: none;
	border-bottom-style: none;

	border-right-style: dashed;
	border-right-color: var(--border-1);
	border-left-style: dashed;
	border-left-color: var(--border-1);
}

@media (max-width: 768px) {
	th {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: -2rem;
		margin-right: -2rem;
		font-size: 0.45rem;
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	th {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-left: -2rem;
		margin-right: -2rem;
		font-size: 1.25rem;
	}
}
