@import "../../styles/pallete.css";

.socialMedia {
	font-size: 1.5rem;
	margin-top: -0.4rem;
	margin-bottom: -0.5rem;
}

.socialMediaIcon {
	color: var(--text-muted-2);
	transition: color 0.5s ease
}

.socialMediaIcon:hover {
	color: yellow;

	transition: color 0.5s ease;
}

.linkedIn:hover {
	color: rgb(14, 118, 168);

	transition: color 0.2s ease;
}

.github:hover {
	color: rgb(255, 255, 255);

	transition: color 0.2s ease;
}

.tiktok:hover {
	color: hsl(178 70% 43.1%);

	transition: color 0.2s ease;
}

.youtube:hover {
	color: rgb(231, 42, 38);

	transition: color 0.2s ease;
}
