@import "../../styles/pallete.css";

.primaryText1 {
	color: var(--primary-1);
}

.email {
	text-decoration: none;
	transition: padding 0.2s ease;
}

.highlight:hover {
	background-color: var(--background-3);
	padding: 0.5rem;
	transition: padding 0.2s ease;
}

.dottedDivider {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-color: var(--border-1);
	border-top-style: dashed;
}

.smallPadding {
	margin-top: -0.2rem;
	margin-bottom: -1.0rem;
}

.grid {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

.navList {
	list-style: none;
	margin: 0;
	padding: 0.5rem 1rem;
	display: flex;
	gap: 4.5rem;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--highlight-1);
}
