@import "../../styles/pallete.css";

.primaryText1 {
	color: var(--primary-1);
}

.email {
	text-decoration: none;
	transition: padding 0.2s ease;
}

.highlight:hover {
	background-color: var(--background-3);
	padding: 0.5rem;
	transition: padding 0.2s ease;
}

.dottedDivider {
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-color: var(--border-1);
	border-top-style: dashed;
}
